<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GDUFE在线考试系统控制台-考试管理</title>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <!--<link th:href="@{https://cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css}" rel="stylesheet" />-->
    <link th:href="@{https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/manage/manage-app.css}" />

    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <!--<script th:src="@{https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js}"></script>-->
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{https://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/manage/manage-app.js}"></script>
    <script type="text/javascript" th:src="@{/js/manage/manage-contestBoard.js}"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <!--
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        -->
        <a class="navbar-brand" href="#"><img style="width: 32px;height: 32px;" th:src="@{/img/manage-logo.png}" /></a>
        <a class="navbar-brand" href="#">GDUFE在线考试系统控制台</a>
        <!--
        <div class="row">
        <div class="col-md-6">
        <a class="navbar-brand" href="#"><img style="width: 32px;height: 32px;" th:src="@{/img/manage-logo.png}" /></a>
        </div>
        <div class="col-md-6">
        <a class="navbar-brand" href="#">GDUFE在线考试系统控制台</a>
        </div>
        </div>
        -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="img-circle" style="width: 32px;height: 32px;" th:src="@{'/upload/images/'+${current_account.avatarImgUrl}}" />&nbsp;&nbsp;<span th:text="${current_account.name}"></span>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <li><a href="javascript:void(0);">修改密码</a></li>
        <li><a id="logout">退出系统</a></li>
        </ul>
        </li>
        </ul>
    </div>
    <!--
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search..." />
        </form>
    </div>
    -->
    </div>
    </nav>

    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><i class="fa fa-tv"></i>&nbsp;考试管理 <span class="sr-only">(current)</span></a></li>
    <li><a th:href="@{/manage/question/list}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;题目管理</a></li>
    <li><a th:href="@{/manage/subject/list}"><span class="glyphicon glyphicon-book"></span>&nbsp;课程管理</a></li>
    <li><a th:href="@{/manage/result/contest/list}"><span class="glyphicon glyphicon-signal"></span>&nbsp;成绩管理</a></li>
    <li><a th:href="@{/manage/account/list}"><span class="glyphicon glyphicon-user"></span>&nbsp;用户管理</a></li>
    <li><a th:href="@{/manage/post/list}"><i class="fa fa-paper-plane"></i>&nbsp;帖子管理</a></li>
    <li><a th:href="@{/manage/comment/list}"><i class="fa fa-commenting-o"></i>&nbsp;评论管理</a></li>
    </ul>
    <!--
    <ul class="nav nav-sidebar">
    <li><a href="">Nav item</a></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    </ul>
    -->
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">考试管理</h1>
    <div class="row" style="margin-bottom: 5px;">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
    <button type="button" class="btn btn-success" id="addContestBtn"><i class="fa fa-plus"></i>添加考试</button>
    </div>
    </div>
    <!--
    <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
    </div>
    </div>

    <h2 class="sub-header">Section title</h2>
    -->
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>考试名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>考试科目</th>
    <th>当前状态</th>
    <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,itemStats : ${data['contests']}">
    <td th:text="${item.title}">广东财经大学2017年数据库原理与应用考试试题</td>
    <td th:text="${#dates.format(item.startTime, 'yyyy-MM-dd HH:mm:ss')}">2018-1-11 09:00:00</td>
    <td th:text="${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}">2018-1-11 11:00:00</td>
    <td th:text="${item.subjectName}">数据库原理与应用</td>
    <td th:if="${item.state == 0}"><span class="label label-warning">未开始</span></td>
    <td th:if="${item.state == 1}"><span class="label label-success">进行中</span></td>
    <td th:if="${item.state == 2 or item.state == 3}"><span class="label label-danger">已结束</span></td>
    <td>
        <a class="btn btn-info btn-xs" th:href="@{'/manage/contest/'+${item.id}+'/problems'}"><i class="fa fa-search"></i>查看试题</a>
        <button type="button" class="btn btn-primary btn-xs" th:onclick="'manageContestBoardPage.updateContestModalAction('+${itemStats.index}+')'"><i class="fa fa-edit"></i>编辑</button>
        <button type="button" class="btn btn-danger btn-xs" th:onclick="'manageContestBoardPage.deleteContestAction('+${item.id}+')'"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <!--
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    <tr>
    <td>广东财经大学2017年数据库原理与应用考试试题</td>
    <td>2018-1-11 09:00:00</td>
    <td>2018-1-11 11:00:00</td>
    <td>数据库原理与应用</td>
    <td><span class="label label-warning">未开始</span></td>
    <td>
    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-search"></i>查看试题</button>
    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>编辑</button>
    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>删除</button>
    </td>
    </tr>
    -->

    </tbody>
    </table>
    </div>
    <div class="row">
    <div class="col-md-9" id="subPageHead">
    <!--
    <ul class="pagination">
    <li class="disabled"><a href="#"><span>首页</span></a></li>
    <li class="disabled"><a href="#"><span>上一页</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li>
    <a href="#">
    <span>下一页</span>
    </a>
    </li>
    <li>
    <a href="#">
    <span>末页</span>
    </a>
    </li>
    </ul>
    -->
    </div>
    <div class="col-md-3">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--新增窗口-->
    <div id="addContestModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">新增考试</h4>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" role="form" onsubmit="return false;">

    <div class="form-group">
    <label class="col-sm-2 control-label">考试名称</label>
    <div class="col-sm-8">
    <input id="contestTitle" type="text" class="form-control" placeholder="" />
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">考试科目</label>
    <div class="col-sm-8">
    <select class="form-control" id="contestSubjectId">
        <option th:each="item,itemStats : ${data['subjects']}"
                th:value="${item.id}" th:text="${item.name}">

        </option>
        <!--<option th:value="1">计算机组成原理</option>-->
        <!--<option th:value="2">C语言程序设计</option>-->
        <!--<option th:value="3">Java语言程序设计</option>-->
        <!--<option th:value="4">C++语言程序设计</option>-->
    </select>
    </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">开始时间</label>
        <div class="col-sm-8">
        <input type="text" class="form-control form_datetime" value="" id="contestStartDatetimepicker" data-date-format="yyyy-mm-dd hh:ii" readonly="readonly" />
        </div>
        <!--<div class="input-group date form_datetime col-sm-8" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="contestStartDatetimepicker" data-link-format="yyyy-mm-dd">-->
            <!--<input class="form-control" type="text" value="" readonly="readonly" />-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
        <!--</div>-->
        <!--<input type="hidden" id="contestStartDatetimepicker" value="" /><br/>-->
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">结束时间</label>
        <div class="col-sm-8">
            <input type="text" class="form-control form_datetime" value="" id="contestEndDatetimepicker" data-date-format="yyyy-mm-dd hh:ii" readonly="readonly" />
        </div>
        <!--<div class="input-group date form_datetime col-sm-8" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="contestEndDatetimepicker" data-link-format="yyyy-mm-dd">-->
            <!--<input class="form-control" type="text" value="" readonly="readonly" />-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
        <!--</div>-->
        <!--<input type="hidden" id="contestEndDatetimepicker" value="" /><br/>-->
    </div>

    </form>
    </div>
    <div class="modal-footer">
    <button data-bb-handler="confirm" type="button" id="confirmAddContestBtn" class="btn btn-success radius">
    <span><i class="icon-ok"></i></span> 确定
    </button>
    <button data-bb-handler="cancel" type="button" id="cancelAddContestBtn" class="btn btn-danger radius">取消</button>
    </div>
    </div>
    </div>
    </div>

    <!-- 编辑窗口 -->
    <div id="updateContestModal" class="bootbox modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑考试</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" onsubmit="return false;">
                        <input type="hidden" id="updateContestIndex" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">考试名称</label>
                            <div class="col-sm-8">
                                <input id="updateContestTitle" type="text" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">考试科目</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="updateContestSubjectId">
                                    <option th:each="item,itemStats : ${data['subjects']}"
                                            th:value="${item.id}" th:text="${item.name}">

                                    </option>
                                    <!--<option th:value="1">计算机组成原理</option>-->
                                    <!--<option th:value="2">C语言程序设计</option>-->
                                    <!--<option th:value="3">Java语言程序设计</option>-->
                                    <!--<option th:value="4">C++语言程序设计</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开始时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form_datetime" value="" id="updateContestStartDatetimepicker" data-date-format="yyyy-mm-dd hh:ii" readonly="readonly" />
                            </div>
                            <!--<div class="input-group date form_datetime col-sm-8" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="contestStartDatetimepicker" data-link-format="yyyy-mm-dd">-->
                            <!--<input class="form-control" type="text" value="" readonly="readonly" />-->
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
                            <!--</div>-->
                            <!--<input type="hidden" id="contestStartDatetimepicker" value="" /><br/>-->
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">结束时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form_datetime" value="" id="updateContestEndDatetimepicker" data-date-format="yyyy-mm-dd hh:ii" readonly="readonly" />
                            </div>
                            <!--<div class="input-group date form_datetime col-sm-8" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="contestEndDatetimepicker" data-link-format="yyyy-mm-dd">-->
                            <!--<input class="form-control" type="text" value="" readonly="readonly" />-->
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
                            <!--</div>-->
                            <!--<input type="hidden" id="contestEndDatetimepicker" value="" /><br/>-->
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="confirm" type="button" id="confirmUpdateContestBtn" class="btn btn-success radius">
                        <span><i class="icon-ok"></i></span> 保存
                    </button>
                    <button data-bb-handler="cancel" type="button" id="cancelUpdateContestBtn" class="btn btn-danger radius">取消</button>
                </div>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var contests = /*[[${data['contests']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function(){
        app.init(contextPath);
        manageContestBoardPage.init(pageNum, pageSize, totalPageNum, totalPageSize, contests);
    });
    /*]]>*/
</script>
</body>
</html>

