body, html{
    height: 100%;
    min-width: 0;
}
.pg_page_container{
    width: 95%;
    min-height: 100%;
    height: auto;
    margin: 0 auto 50px auto;
}
#footer{
    padding: 20px;
    line-height:2rem;
    color: #fff;
    background: #333;
}
#footer a{
    color: #fff;
}

/**
    分割线,以下暂时没用到
 */
.navbar_placeholder {
    height: 50px;
}
.problem_content {
    line-height: 2.0rem !important;
    font-size: 1.1rem !important;
    color: #333333;
}
.user_card {
    width: 100% !important;;
    border: 0 !important;
    box-shadow: none !important;
}

.user_card_image{
    padding: 7%;
}
.user_card_content{
    border-top: 0 !important;
    text-align: center;
}
.user_card_statistics{
    width: 180px !important;
    margin: 15% auto !important;
}
.user_card_statistics > .statistic{
    margin: 0  !important;
}
.ui.loader{
    top: 40px !important;
}
.ui.loader.semantic{
    top: 50% !important;
}