<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qexz.dao.PostMapper" >
    <resultMap id="BaseResultMap" type="com.qexz.model.Post" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="author_id" property="authorId" jdbcType="INTEGER" />
        <result column="html_content" property="htmlContent" jdbcType="LONGVARCHAR" />
        <result column="text_content" property="textContent" jdbcType="LONGVARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, author_id, html_content, text_content, create_time, update_time
    </sql>

    <insert id="insertPost" parameterType="com.qexz.model.Post" >
        insert into t_penguin_post
        (author_id, html_content, text_content)
        values (#{post.authorId}, #{post.htmlContent}, #{post.textContent})
    </insert>

    <update id="updatePostById" parameterType="com.qexz.model.Post">
        UPDATE t_penguin_post
        SET
          html_content = #{post.htmlContent}, text_content = #{post.textContent}
        WHERE
        id = #{post.id}
    </update>

    <select id="getPostById" resultMap="BaseResultMap" parameterType="int" >
        SELECT
        *
        FROM t_penguin_post
        WHERE id = #{id}
    </select>

    <delete id="deletePostById" parameterType="int" >
        delete from t_penguin_post
        where id = #{id}
    </delete>

    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM t_penguin_post
    </select>

    <select id="getPosts" resultMap="BaseResultMap" >
        SELECT
        *
        FROM t_penguin_post
        ORDER BY update_time DESC
    </select>

</mapper>